In [15]:
from scipy.stats import shapiro
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from pathlib import Path

In [18]:
df = pd.read_csv("../../Data/iris.data")
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [19]:
encode = LabelEncoder()
df.species = encode.fit_transform(df.species)
df.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [20]:
stat, p = shapiro(df)

In [23]:
print(p)

1.030562011155613e-15

In [24]:
print(stat)

0.9471973180770874

In [26]:
print('stat = %.3f, p = %.3f' % (stat,p))
if p > 0.05:
    print('Sample looks Gaussian (fail to reject H0)')
else:
    print('Sample does not look Gaussian (reject H0)')

stat = 0.947, p = 0.000
Sample does not look Gaussian (reject H0)