In [13]:
from numpy.random import seed
from numpy.random import randn
from scipy.stats import chi2_contingency
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from scipy.stats import chi2

In [14]:
df = pd.read_csv("../../Data/iris.data")
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [15]:
encode = LabelEncoder()
df.species = encode.fit_transform(df.species)
df.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [16]:
stat, p, dof, expected = chi2_contingency(df)

In [17]:
# Interpret p-value
print('Statistic = %.3f, p = %.3f' % (stat, p))
alpha = 0.05

if p <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (fail to reject H0)')

Statistic = 197.317, p = 1.000
Independent (fail to reject H0)